<div class="component-container">
  <div class="lightbox-container">
    <div class="close-lightbox-container">
      <img
      src="./assets/images/icon-close.svg"
      alt="close"
      (click)="closeLightbox()">
    </div>

    <app-slider
    [images]="thumbnails"
    (imageIndexEmitter)="getIndexImage($event)"></app-slider>

    <figure class="thumbnails-container">
      <img
      *ngFor="let thumbnail of thumbnails; index as i"
      src="./assets/images/{{thumbnail}}"
      alt="thumbnail"
      height="100" width="100"
      class="thumbnail"
      [ngClass]="{'thumbnail-active': i === currentImageIndex}">
    </figure>
  </div>
</div>
