figure {
  margin: 0px;
}

.component-container {
  position: fixed;
  z-index: 10;
  width: 100%;
  min-height: 100vh;
  background-color: #00000075;
  top: 0;
  left: 0;
}

.lightbox-container {
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 100%;
  margin: auto;
  padding: 10px;
}

.close-lightbox-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

img[alt="close"] {
  filter: brightness(0) invert(1);
}

img[alt="close"], .thumbnail {
  cursor: pointer;
}

.thumbnail {
  border-radius: 10px;
}

.thumbnails-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.thumbnail-active {
  filter: grayscale(.7);
}
