<nav class="menu-container">
  <img src="./assets/images/logo.svg" class="logo" alt="sneakers">

  <ul class="menu">
    <li class="menu-item">collections</li>
    <li class="menu-item">men</li>
    <li class="menu-item">women</li>
    <li class="menu-item">about</li>
    <li class="menu-item">contact</li>
  </ul>

  <div class="avatar-container">

    <div class="cart-container">
      <span class="cart-items-count" *ngIf="products.length > 0">{{products.length}}</span>
      <img
      src="./assets/images/icon-cart.svg"
      alt="cart"
      height="25" width="25"
      class="cart"
      (click)="showCartHandler()">
      <app-cart-card
      [products]="products"
      [showCart]="showCart"></app-cart-card>
    </div>

    <img
    src="./assets/images/image-avatar.png"
    alt="avatar"
    height="50" width="50"
    class="avatar">
  </div>
</nav>
<hr>
